@using Astrum.SharedLib.Persistence.Helpers;
<Table Loading="@Loading" DataSource="Users" TableLayout="fixed">
    <RowTemplate Context="User">
        <Column TData="string" Title="Логин" DataIndex="@nameof(User.Username)" Sortable DefaultSortOrder="SortDirection.Ascending">
            @User.Username
        </Column>
        <Column TData="string" Title="Имя" DataIndex="@nameof(User.Surname)" Sortable>
            @User.Surname @User.Name @User.Patronymic
        </Column>
        <Column TData="string" Title="Email" DataIndex="@nameof(User.Email)" Sortable>
            @User.Email
        </Column>
        <Column TData="double" Title="Баланс" DataIndex="@nameof(User.Money)" Sortable>
            @User.Money
        </Column>
        <Column TData="string" Title="Роли">
            <Tag Color="gray">@GetRolesString(User)</Tag>
        </Column>
        <ActionColumn Width="200">
            <EditUser User="@User" OnUserEdited="@OnUserEdited" />
        </ActionColumn>
    </RowTemplate>
</Table>

@code {
    [Parameter] public List<UserProfileSummary> Users { get; set; }
    [Parameter] public EventCallback OnUserEdited { get; set; }
    [Parameter] public bool Loading { get; set; }

    private string GetRolesString(UserProfileSummary user)
    {
        var roles = RolesHelper.MapToStringRoles(user.Roles);
        if (!roles.Any())
            return "-";
        return string.Join(", ", roles);
    }
}
