@using Astrum.Market.Services;
@using Astrum.Market.ViewModels;
@inject IProductService _productService

<Button Type="Primary" OnClick="ShowModal">Подробнее</Button>

<Modal Width="1000" Visible="_visible" OnCancel="@HandleCancel" Footer="null">
    <h3 class="text-center">Подробности о товаре @Product.Name</h3>
    <div style="height: 300px; width: 330px;">
        <img class="rounded float-left" style="width:100%; height:100%; border-radius:10px; object-fit: cover;" src="@Product.CoverUrl" alt="изображение отсутствует" />
    </div>
    <dl class="row fs-5">
        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Краткое описание</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@Product.Summary</dd>

        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Подробное описание</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@(!string.IsNullOrWhiteSpace(Product.Description) ? Product.Description : "Описание отсутствует")</dd>

        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Цена</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@Product.Price</dd>

        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Остаток</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@Product.Remain</dd>

        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Доступность товара</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@Product.IsAvailable</dd>

        <dt style="margin-top: 20px;" class="fw-bolder col-sm-3">Бесконечность товара</dt>
        <dd style="margin-top: 20px;" class="col-sm-9">@Product.IsInfinite</dd>
    </dl>
</Modal>

@code {
    [Parameter] public MarketProductFormResponse Product { get; set; }

    public bool _visible;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleCancel()
    {
        _visible = false;
    }

    private async Task OnFinish()
    {
        _visible = false;
    }
}
