@using Astrum.Storage.ViewModels;
@inject IBannersService _bannersService
@inject ILogAdminService _logger

<Button Style="margin-bottom: 20px;" Type="Primary" OnClick="ShowModal">Добавить картинку</Button>

<Modal Visible="_visible" OnCancel="@HandleCancel" Footer="null">
    <h3 class="text-center">Добавить картинку в баннер</h3>
    <Form Model="Banner" OnFinish="OnFinish" ValidateMode="FormValidateMode.Rules">
        <FormItem Label="Название" Style="margin-top: 30px;" 
            Rules=@(new FormValidationRule[]{ new FormValidationRule{ Required = true, Message = "Название обязательно!" } })>
            <Input OnInput="@((ChangeEventArgs title) => OnChange(title))" Placeholder="Название" @bind-Value="@Banner.Title" />
        </FormItem>
        <FormItem Label="Сделать активной?">
            <Checkbox @bind-Value="@Banner.IsActive" />
        </FormItem>
        <FormItem>
            <InputFile id="fileInput" OnChange="UploadFile" hidden />
            <Upload Name="files" FileList="fileList" >
                <label class="ant-btn" for="fileInput">
                    <Icon Type="upload" />
                    Прикрепить файл
                </label>
            </Upload>
            <Spin Style="margin-top: 10px; margin-bottom: 10px;" Spinning=@_fileLoading></Spin>
        </FormItem>
        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit" Disabled=_createButtonDisabled>
                Добавить
            </Button>
        </FormItem>
    </Form>
</Modal>

@code {
    public bool _visible;
    public bool _fileLoading;
    public bool _createButtonDisabled = true;
    public BannerForm Banner = new BannerForm();
    List<UploadFileItem> fileList = new List<UploadFileItem>();
    [Parameter] public EventCallback<BannerForm> OnBannerCreated { get; set; }
    public FileForm Image { get; set; }

    public void ShowModal()
    {
        Banner = new();
        fileList = new();
        Image = new();
        _visible = true;
    }

    public void HandleCancel()
    {
        _visible = false;
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        _fileLoading = true;
        StateHasChanged();

        var file = e.File;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream(e.File.Size).CopyToAsync(memoryStream);
        var imageBytes = memoryStream.ToArray();

        Image = new FileForm()
        {
            ContentType = file.ContentType,
            FileName = file.Name,
            FileBytes = imageBytes,
        };

        fileList = new List<UploadFileItem>()
        {
            new UploadFileItem()
            {
                FileName = file.Name,
                Size = file.Size
            }
        };

        _fileLoading = false;
        StateHasChanged();
    }

    public async void OnFinish(EditContext context)
    {
        var model = context.Model as BannerForm;
        var result = await _bannersService.CreateBanner(model, Image);
        _logger.Log(model, result, "Создан баннер.", Logging.Entities.ModuleAstrum.News);
        await OnBannerCreated.InvokeAsync(result.Data);
        _visible = false;
        StateHasChanged();
    }

    private void OnChange(ChangeEventArgs title)
    {
        _createButtonDisabled = String.IsNullOrWhiteSpace(title.Value.ToString());
    }
}
